<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout::main(
        ~{::title},                 <!--/* title */-->
        <!--/*--------------------------*/-->
        <!--/*외부파일로 정의시 ex) link css */-->
        ~{::link},                        <!--/* styles */-->
        ~{},                        <!--/* scripts */-->
        <!--/*내부태그로 정의시*/-->
        ~{},                        <!--/* style */-->
        ~{::script},                        <!--/* script */-->
        <!--/*--------------------------*/-->
        ~{::.upperHeader},          <!--/* upperHeader */-->
        ~{::.nav},          <!--/* nav */-->
        ~{::main},                  <!--/* main */-->
        _                          <!--/* footer default*/-->
      )}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>울산한마당 | 비밀번호 찾기</title>
  <link rel="stylesheet" href="../../static/css/member/findPassword.css" th:href="@{/css/member/findPassword.css}">


</head>

<body>
  <div id="wrapper">
    <div class="upperHeader">
      <th:block th:replace="~{layout/upperHeader::upperHeaders}"></th:block>
    </div>
    <div class="nav">
      <th:block th:replace="~{layout/nav::lowerHeader}"></th:block>
    </div>


    <!-- ======================================================================================================            -->
    <main id="findPasswordMain">
      <div class="container">
        <!-- <div class="info__title">
          <h2 id="title">비밀번호 찾기</h2>
        </div> -->


        <!--이미지 안내 배너-->
        <div class="image_banner">
          <div class="image_banner_in_box" style="width: 100%;">
            <h3 style="font-weight: bold;">비밀번호 찾기</h3>
          </div>
        </div>

        <!--
                <div class="info__state">
                  <h3 id="state">비밀번호 찾기</h3>
                </div> -->


        <div class="center__container">
          <div class="container__div">
            <!-- <span class="common findPassword__title">아이디 찾기 화면</span> -->
            <div class="common findPassword__box">
              <form action="" class="box" th:method="post">
                <div class="findPw__Id_box">
                  <h5>아이디</h5>
                  <input type="text" placeholder="ex) test@test.com">
                </div>
                <div class="findPw__name_box">
                  <h5>이름</h5>
                  <input type="text">
                </div>
                <div class="findPw__telno_box">
                  <h5>핸드폰번호</h5>
                  <input type="text" placeholder="ex) 01012345678" >
                </div>
                <div class="findPassword__btn">
                  <button id="findPwBtn">비밀번호 찾기</button>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </main>
      <!-- ======================================================================================================            -->

  </div>


  <script>
    findPasswordBtn.addEventListener('click', findByPassword);

    function findByPassword(e){
      // AJAX 객체생성
      const xhr = new XMLHttpRequest();

      //클라이언트 요청
      xhr.open('PUT','/api/members/password/find');
      xhr.send(nickname.value);

      //서버 응답처리
      xhr.addEventListener('load',e=>{
        //console.log(xhr);
        if(xhr.status === 200){
          //console.log(xhr.response); //json포맷의 문자열 수신확인
          const obj = JSON.parse(xhr.response);//json포맷의 문자열 => js객체변환
          if(obj.rtcd === '00'){
            findedPassword.textContent = obj.data;
          }else{
            findedPassword.textContent = obj.data;
          }
        }else{
          console.err('Error', xhr.status, xhr.statusText);
        }
      });
    }
  </script>

</body>
</html>