@charset "utf-8";
@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


* {
    /* outline: 1px solid blue; */
    font-family: 'NotoSansKR', sans-serif;
}

body,
ul,
li ,
fieldset,
legend,
h2,
p {
    margin: 0; padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

address {
    font-style: normal;
}

/*공통*/
.content {
    width: 80%;
    margin: 0 auto;
}

/*로그인 전*/
#colorbox {
    height: 0.5rem;
    background-color: var(--color-sub);
}

/*로그인 후*/
#colorbox2 {
    height: 0.5rem;
    background-color: var(--color-sub);
}

/*uppermost*/

/*로그인 전*/
#uppermost {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

#uppermost .content {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}


#uppermost > .content .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

#uppermost .content .login {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost .content .header_info_logout {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost .content .login a {
    font-size: 14px;
}

#uppermost .content .interval {
    padding: 0 5px;
}

/*로그인 후*/
#uppermost2 {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

#uppermost2 .content {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}


#uppermost2 > .content .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

#uppermost2 .content .login {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost2 .content .header_info_logout {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost2 .content .login a {
    font-size: 14px;
}

#uppermost2 .content .interval {
    padding: 0 5px;
}

/*gnb*/

#gnb {
    height: 60px;
    margin: 0 auto;
    width: 100%;
}

.content-g{
    display: flex;
    height: 100%;
    border-top: 1px solid rgba(187, 187, 187, 0.521);
}

#gnb .gnb-menu{
    display: flex;
    flex: 8;
    font-weight: bold;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

#gnb .gnb-menu .gnb-menu__item {
    /*padding-bottom : 15px;*/
    flex: 1;   /* flex-grow:1; flex-shrink:1, flex-basis:0; */
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
}

#gnb .gnb-menu .gnb-menu__item a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

#gnb .gnb-menu .gnb-menu__item a:hover {
    color: #ff6d00;
    font-weight: bold;
    transition: all 0.3s ;
}

#gnb .gnb-menu .gnb-menu__item ul {
    display: none;
    background-color: white;
    position: absolute;
}

#gnb .gnb-menu .gnb-menu__item:hover ul{
    display: block;
    position: absolute;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    font-size: 16px;
    top:40px;
    width: 110px;
    z-index: 4;
}

#gnb .gnb-menu .gnb-menu__item:hover ul li{
    /* padding: 5px;
    width: 100px; */
    display: block;
}

#gnb .gnb-menu .gnb-menu__item ul li a{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

#gnb .gnb-menu .gnb-menu__item ul li a:hover{
    background-color: #fabf92;
}


/*검색창*/
#gnb .gnb-search{
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: end;
    position: relative;
    /* outline: 1px solid red; */
}

#gnb .gnb-search .search__input{
    width: 95%;
    height: 30px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

#gnb .gnb-search i{
    position: absolute;
    width: 20px;
    top: 22px;
    right: 15px;
    margin: 0;
    color: #bbb;
}


#main .main__wrapper{
    width: 80%;
}



/*header 슬라이드 이미지*/
#main .main__wrapper #header{
    /* width: 100%;
    padding: 10px;
    display: flex;*/
    /* outline: 1px solid red;  */
    /*position: relative;*/
    height: 400px;
}


#header > .content {
    height: auto;
    width: 1180px;
    margin: 0px auto;
    flex-basis: content;
}

#header > .carousel {

    /*position: absolute;*/
    /*left: 5%;
    top: 5%;*/
}

/*디스플레이크기*/
      /*.carousel-inner{
        width:1500px;
        height:400px;
      }
      .carousel-item{
        width: auto;
        height:100%;
      }
      .d-block {
        display:block;
        width: auto;
        height: 100%;
      }*/



/*메인*/
/* section{
	display: flex;
	justify-content: center;
    margin: 0;
    padding-top: 30%;
} */


/* section .main_container{
	width: 80%;
    display: flex;
    justify-content: center;

} */


/* .main_container a{
    font-weight: bold;
    padding: 5px;
} */



section .main_container .middle_container{
    /* outline: 1px solid pink; */
    padding: 40px 20px 20px 20px;
    /* background-color: rgb(238, 238, 238); */

}

section .main_container .middle_container .sub_title_per{
    padding-bottom: 40px;

}


section .main_container .middle_container .sub_title_per > .title,
section .main_container .middle_container .sub_title_exh > .title{
    padding-top: 10px;
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}

.main_container .sub_title_per a:nth-child(1),
.main_container .sub_title_exh a:nth-child(1){
    font-size: 20px;
}

.main_container .sub_title_per a:nth-child(2),
.main_container .sub_title_exh a:nth-child(2){
    font-size: 15px;
    color: rgb(129, 129, 129);
    /* outline: 1px solid red; */
    padding-top: 5px;
    padding-left: 10px;
}



.sub_title_per .middle_performance,
.sub_title_exh .middle_advertisement{
    display: flex;
    justify-content: center;
}

/* .main_slide{
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	padding: 20px 0;
	justify-content: center;
}

.main_slide img{
	max-width: 100%;
	height: auto;
	padding: 10px;
} */

/* .main_item{
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	padding: 20px 0;
    padding: 0 0 65px 0;
	justify-content: center;
}


.main_item img{
	max-width: 100%;
	height: auto;
	padding: 10px;

} */
/* 
.main_wrap{
	width: 100%;
	height: 500px;
	display: flex;
    margin-bottom: 65px;
    flex-wrap: wrap;
} */


section .main_container .bottom_container{
    /* outline: 1px solid pink; */
    display: flex;
    padding: 20px 20px 40px 20px ;
}





/*메인 화면 미니 게시판*/

.bottom_container .main_b{
	flex: 4;
    /* padding: 10px 20px; */
    white-space: nowrap;
    margin-right: 20px;
}


/* .content_list{
    display: flex;
    justify-content: center;
} */

.ad_board_tit{
    display: flex;
    padding: 0 ;

}
.ad_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}

.ad_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    flex: 1;
}

.ad_board_tit >a{
    font-size: 13px;
    /* padding-left: 50px; */
    flex: 8;
    padding: 7px 0 0 0 ;
}


.review_board_tit{
    display: flex;

    margin-top: 50px;
}
.review_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;

    flex: 1;
}

.review_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    flex: 1;
}

.review_board_tit >a{
    font-size: 14px;
    /* padding-left: 50px; */
    flex: 8;
    padding: 7px 0 0 0 ;
}


.main_b_top{
    display: flex;
    /* justify-content:space-between; */
}


.main_b_top .top_ad{
    background-color: #9e9e9e;
    padding: 10px 5px;
    border-radius: 10px;
    color: aliceblue;
}
.main_b_top .top_review{
    background-color: #ff6d00;
    padding: 10px 5px;
    border-radius: 10px;
    color: aliceblue;
    margin-left: 10px;

}

.main_b_top .more_b{

    padding: 10px 5px;
    margin-left: auto;
}


/* .main_b .main_b_top .top_ad,
.main_b .main_b_top .top_review{
    background-color: #ff6d00;
    padding: 0 10px;
}  */


.main_b .main_b_top a{

}


.main_b >div {

    text-align: end;
    padding:  10px;
}


.board_list{
    border-collapse: collapse;

}

.board_list {
    width: 100%;
}


/* .content_list .board_list .list_top tr{
    padding-bottom: 1px solid black;
} */

.board_list .list_body  tr {

    border-bottom: 1px solid #ccc;

   font-size: 16px;
   /* border: 10px; */
}


.board_list td {

}

.board_list  .title {
    padding: 10px;
    text-align: left;
}


.board_list  .title a{

    font-size: 15px;
    font-weight: inherit;
}



/*메인 지도*/
.main_m{
	flex: 6;
	/* padding: 10px 20px; */

}

.map_tit{
    display: flex;
    padding: 0;
    width: 650px;
}

.map_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;

}

.map_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
}



.main_m img{
    /*width: 100%;
    height: 380px;*/
}




/* 목록내부 */
.image_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

/*그라데이션 배너*/
.image_banner_in_box {
    width: 2000px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,120,45,1) 100%);
    text-align: center;
    color: white;
    padding: 50px 0;
}

/*전체검색*/

.main_search h2 {
    padding: 15px;
}

#search_contents {
    /* outline: 1px solid red; */
    width: 950px;
    display: block;
    justify-content: center;
}

.search_contents_wrap {
    padding: 15px;
}

/*검색 건수 */
.search_contents_count {
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.521);
}

.search_contents_count h5 {
    flex: 1;
}

.search_contents_count a {
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding-top:5px;
}

.contents_body {
     padding: 20px;
}

.contents_body_in {
    padding: 10px;
}

/*메인 화면 미니 게시판*/

section .main_container .bottom_container{
    /* outline: 1px solid pink; */
    display: flex;
    padding: 40px 20px ;
}



.bottom_container .main_b{
   flex: 4;
    /* padding: 10px 20px; */
    white-space: nowrap;
    margin-right: 20px;
}


/* .content_list{
    display: flex;
    justify-content: center;
} */


/*홍보게시판 타이틀*/
.bottom_container .main_b .ad_board_tit{
    display: flex;
    padding-bottom: 10px;
    /* justify-content: flex-start; */
}

.ad_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
    /* outline: 1px solid red; */
    width: auto;
}

.ad_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    /* flex: 1; */
    width: auto;
}

.ad_board_tit >a{
    font-size: 13px;
    flex: 8;
    padding: 7px 0 0 0 ;
    text-align: end;
}





/*후기게시판 타이틀*/

.bottom_container .main_b .review_board_tit{
    display: flex;
    padding: 20px 0 10px 0 ;
    /* justify-content: flex-start; */
}

.review_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    /* flex: 1; */
    /* outline: 1px solid red; */
    width: auto;
}

.review_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    /* flex: 1; */
    width: auto;
}

.review_board_tit >a{
    font-size: 13px;
    flex: 8;
    padding: 7px 0 0 0 ;
    text-align: end;
}






.list_contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* outline: 1px solid red; */
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}



/*메인 지도*/
.main_m{
   flex: 6;
   padding:0;
   /* outline: 1px solid red;*/

}

.map_tit >a{
    font-size: 13px;
    flex: 8;
    7px 6px 6px 7px;
    text-align: end;
}

/* footer */
footer {
	width: 100%;
	background: #333;
	/* padding: 20px 0px; */
	border-top: 1px solid #888;
    /* outline: 1px solid red; */
    height: 160px;
    margin: 0;
    display: flex;
    justify-content: center;
}


footer > .footer_container{
    /* outline: 1px solid red; */
    width: 80%;
    height: 100%;

}


footer > .footer_container .upper {
    /* width: 100%; */
	border-bottom: 1px solid #777;
	/* padding-bottom: 20px; */
    /* outline: 1px solid red; */
    display: flex;
    padding: 20px 0;
}

footer > .footer_container .upper a{
    color: #888;
    flex: 7;
    margin: 0;
    /* outline: 1px solid red; */
    margin: auto;
    font-size: 18px;
    font-weight: bold;

}

footer > .footer_container .upper >ul{
    /* outline: 1px solid red; */
    color: #888;
    display: flex;
}

footer > .footer_container .upper >ul>li{
    padding-right: 30px;
}




footer > .footer_container .lower {
	width: 100%;
	padding: 20px 0;
    /* outline: 1px solid red; */

}
footer > .footer_container address {
	width: 100%;
	color: #777;
	margin-bottom: 10px;
    /* outline: 1px solid red; */
    font-size: 13px;

}
footer > .footer_container .lower p {
	width: 100%;
	font-size: 13px;
	color: #777;
    /* outline: 1px solid red; */

}

/* 문화지도 */

.image_banner_in_box_map {
    width: 2000px;
    background: rgb(10,0,36);
    background: linear-gradient(90deg, rgba(10,0,36,1) 0%, rgba(9,117,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: white;
    padding: 50px 0;

}

/* 목록 세부 */
.info_in_box {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.521);
    padding-bottom: 4%;
}

.info_in_box_img {
    padding: 10px;
}

.info_in_box_info {
    padding: 10px;
    width: 100%;
}

.info_in_box_info div {
    padding: 1%
}

.info_in_box_info lable {
    font-weight: bold;

}
.info_in_box_sty {
    padding: 2%;
}

.info_in_box_sty img {
    width: 40%;
}

.mini_map_info {
    padding: 3%;
}

/* 탭 툴바*/
#contents__toolbar1 {
    height: 50px;
   /*border-top: 1px dashed #ddd;*/
  }

  #contents__toolbar1 .toolbar-menu1 {
    display: flex;
    align-items: center;
    height: inherit;
    background: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);

  }

   .toolbar-menu__contents1 {
    display: flex;
    flex: 1;
  }

  .toolbar-menu__item1 {
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    font-size: 15px;
  }

/*세부 목록 맵&댓글*/
.mapbox {
    display: flex;
    justify-content: center;
}

.textbox1 {
    display: flex;
    justify-content: center;
}

.textbox2 {
    display: flex;
    justify-content: center;
}

#comments_list {

}

.textarea {
    width: 100%
}

/*세부 목록 하단 버튼 부트스트랩*/
.bbs-btngrp {
    display: flex;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/*목록 세부 클릭 장소 안내*/
.class-body_detail {
    padding: 5%;
}

.post-content_detail {
    /*border-top: 2px solid rgb(65, 65, 65);
    border-bottom: 1px solid black;
    padding: 5%;*/
}

.post-content_detail div {
        padding: 1%;
}

.post-content_detail lable {
    font-weight: bold;

}

.post-content_detai span {
    padding: 4%;
}

.in_contents-category {
    text-align: center;
    display: inline-block;
    margin: 0 6px;
    padding: 2px 4px 2px 4px;
    background: #fff9f4;
    border: 1px solid #ff7300;
    border-radius: 5px;
}


#comments_list ul {
width: 100%;
}

#comments_list li{
width: 100%; padding: 1%;
}